.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.mt-5 {
    margin-top: 1.25rem;
    /* Correspond à 20px si 1rem = 16px */
}

.gap-5 {
    gap: 1.25rem;
    /* Correspond à 20px */
}

.font-semibold {
    font-weight: 600;
}

.text-18 {
    font-size: 18px;
}

.custom-font {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #333;
    
}