body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-status {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.driver-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.driver-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.driver-details {
    flex: 1;
}

.ride-info, .estimated-time {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
}

.map {
    position: relative;
    height: 200px;
    background-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
}

.map-image {
    width: 100%;
    height: auto;
}
.car-image{
    width:60%;
    height: 300px;
}

footer {
    margin-top: 20px;
    text-align: center;
}

.contact-driver {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.contact-driver:hover {
    background-color: #0056b3;
}
